body {
  background-color: #999;
  color: #222;
}

.ContactItem {
  font-style: sans-serif;
}

.ContactForm {
  width: 25%;

}

.ContactForm-name, .ContactForm-email, .ContactForm-description {
  display: block;
    margin: 10px;
}
